/* CSS declarations go here */

nav {
	background-color: transparent;
	z-index: 0;
}

.website-title {
	margin-left: 2%;
	margin-top: 28%;
	color: white;

	vertical-align: middle;
}

.website-title-container { 	
	vertical-align: middle;
}


