/* CSS declarations go here */

nav {
	background-color: transparent;
	z-index: 0;
}

.website-title {
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 30%;
	color: white;
	text-align: right;
}

.website-title-container { 	
	vertical-align: middle;
}


